<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Node後端測試</title>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .navbar {
        padding: 10px;
        background: rgb(39, 38, 35);
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: #FFF;
        }

        ul {
            list-style: none;
            display: flex;

            li {
                padding: 20px;
            }
        }
    }

    .container {
        width: 80%;
        margin: 0 auto;
    }
</style>